.bg_blue {
  background-color: #1d4d8b;
}
header {
  position: fixed;
  width: 100%;
}
main {
  padding-top: 5rem;
}
.video-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vw * 0.5625);
  overflow: hidden;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
