.bg_blue {
  background-color: #1d4d8b;
}
header {
  width: 100%;
}

.video-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0rem;
}
h1 {
  font-size: 5rem;
}

/* footer */
footer {
  background-color: #2f81d3;
  color: #ffffff;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
}
.grid_footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.redes_footer,
.infozona_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.redes_footer {
  align-items: center;
  justify-content: center;
}
.redes_footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul li {
  list-style: none;
}
.infozona_footer figure img {
  width: 11rem;
}
.card-group {
  margin: 1rem;
}
.card {
  margin: 1rem;
}
@media screen and (max-width: 600px) {
  video {
    display: none;
  }
  .main_index {
    background-image: url(../images/avion.jpg);
    background-size: cover;
  }
  h1 {
    font-size: 3rem;
  }
  footer {
    padding: 0rem;
  }
  .grid_footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
